.section {
  height: auto;
  margin-top: 20px;
}
.btnWarningg {
  font-family: var(--myFont) !important;
  font-size: 18px !important;
  color: var(--color6) !important;
  background-color: var(--color1) !important;
  border: 2px solid var(--color1) !important;
  height: 45px !important;
  border-radius: 5px !important;
  width: 20vw !important;
  margin-left: 1.5vw;
  margin-top: 1vw;
  -webkit-border-radius: 5px !important;
  -moz-border-radius: 5px !important;
  -ms-border-radius: 5px !important;
  -o-border-radius: 5px !important;
  transition: all 0.3s !important;
  -webkit-transition: all 0.3s !important;
  -moz-transition: all 0.3s !important;
  -ms-transition: all 0.3s !important;
  -o-transition: all 0.3s !important;
  cursor: pointer;
}
.btnWarningg:hover,
.btnWarningg:active {
  cursor: pointer;
  color: var(--color7) !important;
  font-size: 19px !important;
  background-color: transparent !important;
  border: 2px solid var(--color7) !important;
  box-shadow: none !important;
  height: 45px !important;
  border-radius: 5px !important;
  -webkit-border-radius: 5px !important;
  -moz-border-radius: 5px !important;
  -ms-border-radius: 5px !important;
  -o-border-radius: 5px !important;
}
.conten {
  height: 65vh;
}
.item {
  font-weight: 600;
}
.btingo {
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  border: 2px solid transparent !important;
  font-size: 25px !important;
  font-weight: 500 !important;
}
.btingo:active,
.btingo:hover,
.btingo:focus,
.btingo:focus-visible {
  border: 2px solid var(--color1) !important;
}
