/* Custom Dark Mode Toggle Element */
.togglethemewrapper {
  width: auto;
  background-color: var(--color2);
}
.btnWarningg {
  background-color: var(--color2);
  font-size: 18px !important;
  font-weight: 400;
  height: 40px;
  width: 200px;

  border-radius: 7px;
  border: none;
  cursor: pointer;
  color: var(--color6) !important;
  transition: all 0.2s;
  -webkit-transition: all 0.2s;
  -moz-transition: all 0.2s;
  -ms-transition: all 0.2s;
  -o-transition: all 0.2s;
  -webkit-border-radius: 7px;
  -moz-border-radius: 7px;
  -ms-border-radius: 7px;
  -o-border-radius: 7px;
}
.btnWarningg1 {
  background-color: var(--color2);
  font-size: 18px !important;
  font-weight: 400;
  height: 40px;
  width: 200px;
  border-radius: 7px;
  border: none;
  cursor: pointer;
  color: var(--color6) !important;
  transition: all 0.2s;
  -webkit-transition: all 0.2s;
  -moz-transition: all 0.2s;
  -ms-transition: all 0.2s;
  -o-transition: all 0.2s;
  -webkit-border-radius: 7px;
  -moz-border-radius: 7px;
  -ms-border-radius: 7px;
  -o-border-radius: 7px;
}
.btnWarningg:hover,
.btnWarningg:active {
  color: var(--color7) !important;
  background-color: transparent !important;

  box-shadow: none !important;
}

.btnWarningg1:hover,
.btnWarningg1:active {
  color: var(--color7) !important;
  background-color: transparent !important;

  box-shadow: none !important;
}
