/* Custom Dark Mode Toggle Element */
.togglethemewrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 4px;
  background-color: var(--color12);
}

.togglethemewrapper span {
  font-size: 28px;
}

.toggletheme {
  position: relative;
  display: inline-block;
  height: 34px;
  width: 60px;
}

.toggletheme input {
  display: none;
}

.slider {
  background-color: #ccc;
  position: absolute;
  cursor: pointer;
  bottom: 0;
  left: 0;
  right: 0;
  top: 0;
  transition: 0.2s;
}

.slider:before {
  background-color: #fff;
  bottom: 4px;
  content: "";
  height: 26px;
  left: 4px;
  position: absolute;
  transition: 0.4s;
  width: 26px;
}

input:checked + .slider:before {
  transform: translateX(26px);
}

input:checked + .slider {
  background-color: cornflowerblue;
}

.slider {
  border-radius: 34px;
}

.slider:before {
  border-radius: 50%;
}
