.cont {
  height: auto;
}
.cardio {
  text-decoration: none;

  height: 200px !important;
  display: flex !important;
  justify-content: center !important;
  align-items: center !important;

  color: var(--color7);
  font-size: 40px;
  background-color: var(--color6) !important;
  border: 2px solid var(--color7) !important;

  transition: all 0.3s;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -ms-transition: all 0.3s;
  -o-transition: all 0.3s;
}
.cardio:hover {
  color: var(--color6);
  font-size: 35px;
  background-color: var(--color4) !important;
  border: 1px solid transparent !important;
}
