.btnWarningg {
  font-family: var(--myFont) !important;
  font-size: 25px !important;
  color: var(--color7) !important;
  background-color: transparent !important;
  border: 2px solid transparent !important;
  height: 45px !important;
  border-radius: 5px !important;
  width: -moz-fit-content;
  width: fit-content;
  -webkit-border-radius: 5px !important;
  -moz-border-radius: 5px !important;
  -ms-border-radius: 5px !important;
  -o-border-radius: 5px !important;
  transition: all 0.3s !important;
  -webkit-transition: all 0.3s !important;
  -moz-transition: all 0.3s !important;
  -ms-transition: all 0.3s !important;
  -o-transition: all 0.3s !important;
}
.outOfStockBtn {
  font-family: var(--myFont) !important;
  font-size: 25px !important;
  color: var(--color2) !important;
  background-color: transparent !important;
  border: 2px solid transparent !important;
  height: 45px !important;
  border-radius: 5px !important;
  width: -moz-fit-content;
  width: fit-content;
  -webkit-border-radius: 5px !important;
  -moz-border-radius: 5px !important;
  -ms-border-radius: 5px !important;
  -o-border-radius: 5px !important;
  transition: all 0.3s !important;
  -webkit-transition: all 0.3s !important;
  -moz-transition: all 0.3s !important;
  -ms-transition: all 0.3s !important;
  -o-transition: all 0.3s !important;
}
.btnWarningg:hover,
.btnWarningg:active {
  cursor: pointer;
  color: var(--color3) !important;
  box-shadow: none !important;
  border-radius: 5px !important;
  -webkit-border-radius: 5px !important;
  -moz-border-radius: 5px !important;
  -ms-border-radius: 5px !important;
  -o-border-radius: 5px !important;
}

.image {
  width: 200px !important;
  height: 200px !important;
  margin-left: auto;
  object-fit: scale-down;
}

.cardBody {
  border-radius: 10px;
}

.productName {
  color: var(--color3);
  font-size: 20px;
  text-transform: capitalize;
}
.imgContainer {
  width: 100% !important;
  height: 220px !important;
  text-align: center;
}

.cardLinkReset {
  color: var(--color3) !important;
}
.colorFav {
  color: var(--color7);
  font-size: 25px;
}

.Btn {
  background-color: transparent;
  border: 0;
  width: fit-content;
}
