.Li {
  padding: 10px 0;
  background-color: transparent;
  color: var(--color3);
  font-size: 20px;
  transition: all 0.2s;
  -webkit-transition: all 0.2s;
  -moz-transition: all 0.2s;
  -ms-transition: all 0.2s;
  -o-transition: all 0.2s;
}
.Li:hover {
  padding: 10px 0;
  background-color: var(--color5);
  color: var(--color6);
  font-size: 20px;
}
