.con {
  height: auto;
  background-color: var(--color6);
  margin-top: 2vw;
  margin-bottom: 2vw;
  padding-bottom: 2vw;
  border: 1px solid var(--color11);
  border-radius: 5px;
  padding-top: 2vw;
}
.card {
  max-width: 1100px;
  box-sizing: border-box;
  width: 1100px !important;
  height: 13vw;
  background: var(--color10) !important;
  border: 1px solid var(--color11);
  border-radius: 5px;
  margin-top: 1vw;
  margin-left: 5vw;
}
.Title {
  font-family: "Lato";
  font-style: normal;
  font-weight: 400;
  font-size: 32px;
  line-height: 37px;
  /* identical to box height */

  /* 3 */
  color: #2d2723;
}
.Date {
  font-family: "Lato";
  font-style: normal;
  font-weight: 400;
  font-size: 32px;
  line-height: 37px;
  /* identical to box height */

  /* 3 */
  color: var(--color4);
}
.OrderNumber {
  font-family: "Lato";
  font-style: normal;
  font-weight: 300;
  font-size: 18px;
  line-height: 23px;

  /* 4 */
  color: var(--color4);
}
.OrderStatus {
  width: 194px;
  height: 17px;

  background: var(--color7);
  font-family: "Lato";
  font-style: normal;
  font-weight: 400;
  font-size: 9px;
  line-height: 11px;
  padding-top: 0.2vw;
  text-align: center;
  /* 3 */
  color: #2d2723;
}
.btnWarningg {
  background-color: var(--color1) !important;
  font-size: 23px !important;
  font-weight: 400;
  height: 60px;
  width: 180px;
  border-radius: 7px;
  border: 2px solid var(--color1) !important;
  cursor: pointer;
  color: var(--color6) !important;
  transition: all 0.2s;
  -webkit-transition: all 0.2s;
  -moz-transition: all 0.2s;
  -ms-transition: all 0.2s;
  -o-transition: all 0.2s;
  -webkit-border-radius: 7px;
  -moz-border-radius: 7px;
  -ms-border-radius: 7px;
  -o-border-radius: 7px;
  margin-top: 1vw !important;
  margin-left: 0vw;
}
.btnWarningg:hover,
.btnWarningg:active {
  color: var(--color6) !important;
  background-color: transparent !important;
  border: 2px solid var(--color7) !important;
  box-shadow: none !important;
}
.button {
  margin-top: -2vw;
}
.Button1 {
}

.Button2 {
  margin-top: 3vh;
  margin-left: -1vw;
  color: var(--color1) !important;
  font-size: 28px !important;
  font-weight: 400;
  height: 40px;
  width: 200px;
  background: transparent;
  font-family: "Lato";
  border: none;
  cursor: pointer;
  transition: all 0.2s;
  margin-bottom: 2vw;
  -webkit-transition: all 0.2s;
  -moz-transition: all 0.2s;
  -ms-transition: all 0.2s;
  -o-transition: all 0.2s;
  -webkit-border-radius: 7px;
  -moz-border-radius: 7px;
  -ms-border-radius: 7px;
  -o-border-radius: 7px;
}
