.page {
  background-color: var(--color6);
  height: 92vh;
}
.leftCard {
  background-color: rgb(245, 245, 245) !important;
}
.rightCard {
  background-color: rgb(245, 245, 245) !important;
}
.btnWarningg {
  font-family: var(--myFont) !important;
  font-size: 18px !important;
  color: var(--color6) !important;
  background-color: var(--color1) !important;
  border: 2px solid var(--color1) !important;
  height: 40px !important;
  width: 50%;
  border-radius: 5px !important;
  -webkit-border-radius: 5px !important;
  -moz-border-radius: 5px !important;
  -ms-border-radius: 5px !important;
  -o-border-radius: 5px !important;
  transition: all 0.3s !important;
  -webkit-transition: all 0.3s !important;
  -moz-transition: all 0.3s !important;
  -ms-transition: all 0.3s !important;
  -o-transition: all 0.3s !important;
}
.btnWarningg:hover,
.btnWarningg:active {
  width: 55%;
  padding-right: 25px;
}

.hr {
  width: 100%;
}
