.cartSection {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--color5);
  height: auto;
  padding-bottom: 30px;
  padding-top: 30px;
}
.Right {
  border-radius: 0.5vw;
  background-color: var(--color6) !important;
  width: 100%;
  -webkit-border-radius: 0.5vw;
  -moz-border-radius: 0.5vw;
  -ms-border-radius: 0.5vw;
  -o-border-radius: 0.5vw;
  height: 50vh;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.Text2 {
  font-weight: 700;
  color: var(--color3);
  font-size: 30px;
}

.first {
  font-weight: 500;
  font-size: 20px;
  color: var(--color3);
}
.second {
  font-weight: 300;
  font-size: 20px;
  color: var(--color3);
}
.btnWarningg {
  font-family: var(--myFont) !important;
  font-size: 18px !important;
  color: var(--color6) !important;
  background-color: var(--color1) !important;
  border: 2px solid var(--color1) !important;
  height: 45px !important;
  border-radius: 5px !important;
  width: 20vw !important;
  margin-left: 1.5vw;
  margin-top: 1vw;
  -webkit-border-radius: 5px !important;
  -moz-border-radius: 5px !important;
  -ms-border-radius: 5px !important;
  -o-border-radius: 5px !important;
  transition: all 0.3s !important;
  -webkit-transition: all 0.3s !important;
  -moz-transition: all 0.3s !important;
  -ms-transition: all 0.3s !important;
  -o-transition: all 0.3s !important;
  cursor: pointer;
}
.btnWarningg:hover,
.btnWarningg:active {
  cursor: pointer;
  color: var(--color7) !important;
  font-size: 19px !important;
  background-color: transparent !important;
  border: 2px solid var(--color7) !important;
  box-shadow: none !important;
  height: 45px !important;
  border-radius: 5px !important;
  -webkit-border-radius: 5px !important;
  -moz-border-radius: 5px !important;
  -ms-border-radius: 5px !important;
  -o-border-radius: 5px !important;
}
.redirectLink {
  text-decoration: none;
  color: var(--color1);
  transition: all 0.3s !important;
  -webkit-transition: all 0.3s !important;
  -moz-transition: all 0.3s !important;
  -ms-transition: all 0.3s !important;
  -o-transition: all 0.3s !important;
}
.redirectLink:hover {
  color: var(--color2);
}

.Con {
  height: 80vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.component {
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  background: #fafafa;
  color: var(--color3);
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 80px;
  font-weight: 400;
  font-size: 20px;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
}
