.btnWarningg {
  font-family: var(--myFont) !important;
  font-size: 18px !important;
  color: var(--color6) !important;
  background-color: var(--color1) !important;
  border: 2px solid var(--color1) !important;
  height: 45px !important;
  border-radius: 5px !important;
  width: fit-content;
  -webkit-border-radius: 5px !important;
  -moz-border-radius: 5px !important;
  -ms-border-radius: 5px !important;
  -o-border-radius: 5px !important;
  transition: all 0.3s !important;
  -webkit-transition: all 0.3s !important;
  -moz-transition: all 0.3s !important;
  -ms-transition: all 0.3s !important;
  -o-transition: all 0.3s !important;
  cursor: pointer;
}
.btnWarningg:hover,
.btnWarningg:active {
  cursor: pointer;
  color: var(--color7) !important;
  font-size: 19px !important;
  background-color: transparent !important;
  border: 2px solid var(--color7) !important;
  box-shadow: none !important;
  border-radius: 5px !important;
  -webkit-border-radius: 5px !important;
  -moz-border-radius: 5px !important;
  -ms-border-radius: 5px !important;
  -o-border-radius: 5px !important;
}

.cardBody {
  border-radius: 10px;
  width: fit-content;
  width: 100%;
}

.productName {
  color: var(--color3);
  object-fit: contain;
}
.review {
  font-size: 20px;
  margin-top: 20px;
  font-weight: 300;
  color: var(--color3);
}
.title {
  font-size: 18px;
  font-weight: 700;
  color: var(--color3);
  margin-top: 0;
}
.imageWrapper {
  text-align: center;
  margin: 20px;
}
.imageWrapper img {
  width: 220px;
  height: 220px;
  object-fit: scale-down;
  margin: auto;
}
