.footeer {
}
.Footerstyle {
  background-color: var(--color3) !important;
  color: var(--color6);
  width: 100%;
  height: auto;
}
.headFoot {
  font-weight: 700;
  font-size: 35px;
}
.pFooter {
  font-size: 15px;
  font-weight: 300;
  color: var(--color5) !important;
  width: 80%;
}
.socialIcon {
  color: var(--color6);
  text-decoration: none;
  transition: all 0.2s;
  -webkit-transition: all 0.2s;
  -moz-transition: all 0.2s;
  -ms-transition: all 0.2s;
  -o-transition: all 0.2s;
  font-size: 16px;
}
.socialIcon:hover {
  color: var(--color7) !important;
}
