@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap");
body {
  margin: 0;
}
:root {
  --myFont: "Lato", sans-serif;
  --color1: #af492c;
  --color2: #7a726a;
  --color3: #2d2723;
  --color4: #9b959a;
  --color5: #c6c4c3;
  --color6: #fff;
  --color7: #e74518;
  --color8: rgba(231, 98, 9, 0.25);
  --color9: #7a726aa1;
}
* {
  font-family: var(--myFont);
}
.w-10 {
  width: 10% !important;
}
.w-15 {
  width: 15% !important;
}
.w-20 {
  width: 20% !important;
}
.w-30 {
  width: 30% !important;
}
.w-35 {
  width: 35% !important;
}
.w-40 {
  width: 40% !important;
}
.w-45 {
  width: 45% !important;
}
.w-55 {
  width: 55% !important;
}
.w-60 {
  width: 60% !important;
}
.w-65 {
  width: 65% !important;
}
.w-70 {
  width: 70% !important;
}
.w-80 {
  width: 80% !important;
}
.w-85 {
  width: 85% !important;
}
.w-90 {
  width: 90% !important;
}
.w-95 {
  width: 95% !important;
}

.end-0 {
  right: 0 !important;
}
.end-5 {
  right: 5px !important;
}
.end-10 {
  right: 10px !important;
}
.end-15 {
  right: 15px !important;
}
.end-20 {
  right: 20px !important;
}
.start-0 {
  left: 0 !important;
}
.start-5 {
  left: 5px !important;
}
.start-10 {
  left: 10px !important;
}
.start-15 {
  left: 15px !important;
}
.start-20 {
  left: 20px !important;
}

.rs-rate {
  position: relative;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  list-style: none;
  vertical-align: middle;
  margin: 0;
  padding: 0;
}
.rs-rate-character {
  position: relative;
  margin-right: 10px;
  padding: 3px 0;
  cursor: pointer;
  outline: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.rs-rate-character-before {
  position: absolute;
  width: 50%;
  height: 100%;
  overflow: hidden;
  opacity: 0;
}
.rs-rate-character-after {
  color: #8e8e93;
  color: var(--rs-rate-symbol);
  -webkit-filter: grayscale(1);
  filter: grayscale(1);
}
.rs-theme-high-contrast .rs-rate-character-after > .rs-icon {
  fill: none;
  stroke: currentColor;
}
.rs-rate-character-before,
.rs-rate-character-after {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  z-index: 1;
}
.rs-rate-character-before > .rs-icon,
.rs-rate-character-after > .rs-icon {
  font-size: inherit;
}
.rs-rate-character-half .rs-rate-character-before {
  opacity: 1;
  -webkit-filter: none;
  filter: none;
}
.rs-rate-character-full .rs-rate-character-after {
  color: inherit;
  -webkit-filter: none;
  filter: none;
}
.rs-rate-character-full .rs-rate-character-after > .rs-icon {
  fill: currentColor;
}
.rs-rate-character-vertical {
  width: 100%;
  height: 50%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: reverse;
  -ms-flex-direction: column-reverse;
  flex-direction: column-reverse;
  bottom: 3px;
}
.rs-rate-character .rs-icon {
  position: absolute;
  height: 1em;
  width: 1em;
}
.rs-rate:not(.rs-rate-readonly).rs-rate:not(.rs-rate-disabled)
  .rs-rate-character:hover {
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}
.rs-rate:not(.rs-rate-readonly).rs-rate:not(.rs-rate-disabled)
  .rs-rate-character:active {
  -webkit-transform: scale(1);
  transform: scale(1);
}
.rs-rate-disabled {
  opacity: 0.3;
  outline: none;
}
.rs-rate-disabled .rs-rate-character {
  cursor: not-allowed;
}
.rs-rate-readonly .rs-rate-character {
  cursor: default;
  pointer-events: none;
}
.rs-rate-lg {
  font-size: 36px;
}
.rs-rate-lg .rs-rate-character {
  width: 36px;
  height: 42px;
}
.rs-rate-md {
  font-size: 30px;
}
.rs-rate-md .rs-rate-character {
  width: 30px;
  height: 36px;
}
.rs-rate-sm {
  font-size: 24px;
}
.rs-rate-sm .rs-rate-character {
  width: 24px;
  height: 30px;
}
.rs-rate-xs {
  font-size: 18px;
}
.rs-rate-xs .rs-rate-character {
  width: 18px;
  height: 24px;
}

.rs-rate {
  color: var(--color1);
}

.form-check-input:checked {
  background-color: var(--color7) !important;
  border-color: var(--color7) !important;
}
.form-check-input:focus {
  box-shadow: 0 0 0 0.25rem var(--color8) !important;
}

.form-range:focus::-webkit-slider-thumb {
  box-shadow: 0 0 0 1px #fff, 0 0 0 0.25rem var(--color8) !important;
}
.form-range:focus::-moz-range-thumb {
  box-shadow: 0 0 0 1px #fff, 0 0 0 0.25rem var(--color8) !important;
}

.form-range::-webkit-slider-thumb {
  background-color: var(--color7) !important;
}

.accordion {
  width: 95%;
  margin: auto;
  margin-bottom: 30px;
}

.accordion-button {
  font-size: 18px !important;
  color: var(--color7) !important;
  background-color: var(--color6) !important;
  border: 2px solid var(--color7);
}

.accordion-button:not(.collapsed) {
  box-shadow: inset 0 calc(var(--bs-accordion-border-width) * -1) 0
    var(--color3) !important;
  font-size: 18px !important;
  color: var(--color6) !important;
  background-color: var(--color1) !important;
  border-color: transparent !important;
}

.accordion-button:focus {
  border-color: transparent !important;
  box-shadow: none !important;
}
.accordion-item {
  border: var(--bs-accordion-border-width) solid var(--color5) !important;
}

.accordion-button.collapsed {
  background: var(--color7);
}

.accordion-button.collapsed::after {
  margin-top: 10px;
  background-image: url("assets/images/downArrow.svg");
}
.accordion-button:not(.collapsed)::after {
  margin-top: 10px;

  background-image: url("assets/images/upArrow.svg") !important;
  transform: rotate(360deg) !important;
  -webkit-transform: rotate(360deg) !important;
  -moz-transform: rotate(360deg) !important;
  -ms-transform: rotate(360deg) !important;
  -o-transform: rotate(360deg) !important;
}
