@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap");

:root {
  --myFont: "Lato", sans-serif;
  --color1: #af492c;
  --color2: #7a726a;
  --color3: #2d2723;
  --color4: #9b959a;
  --color5: #c6c4c3;
  --color6: #fff;
  --color7: #e74518;
  --color8: rgba(231, 98, 9, 0.25);
}
