@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap");
body {
  /* position: relative; */
  margin: 0;
<<<<<<< HEAD
  height: 2500px;
=======
>>>>>>> 8542caf2b7605aebe4e31b8d33ad56d7ad5e774b
}
:root {
  --myFont: "Lato", sans-serif;
  --color1: #af492c;
  --color2: #7a726a;
  --color3: #2d2723;
  --color4: #9b959a;
  --color5: #c6c4c3;
  --color6: #fff;
  --color7: #e74518;
  --color8: rgba(231, 98, 9, 0.25);
}
.w-10 {
  width: 10% !important;
}
.w-15 {
  width: 15% !important;
}
.w-20 {
  width: 20% !important;
}
.w-30 {
  width: 30% !important;
}
.w-35 {
  width: 35% !important;
}
.w-40 {
  width: 40% !important;
}
.w-45 {
  width: 45% !important;
}
.w-55 {
  width: 55% !important;
}
.w-60 {
  width: 60% !important;
}
.w-65 {
  width: 65% !important;
}
.w-70 {
  width: 70% !important;
}
.w-80 {
  width: 80% !important;
}
.w-85 {
  width: 85% !important;
}
.w-90 {
  width: 90% !important;
}
.w-95 {
  width: 95% !important;
}

.end-0 {
  right: 0 !important;
}
.end-5 {
  right: 5px !important;
}
.end-10 {
  right: 10px !important;
}
.end-15 {
  right: 15px !important;
}
.end-20 {
  right: 20px !important;
}
.start-0 {
  left: 0 !important;
}
.start-5 {
  left: 5px !important;
}
.start-10 {
  left: 10px !important;
}
.start-15 {
  left: 15px !important;
}
.start-20 {
  left: 20px !important;
}
