.page {
  height: 65vh;
}

.Content {
  margin-top: 10vw !important;
  margin-left: 1vw;
}
.rightcont {
  margin-left: -8vw;
}
.title {
  font-family: var(--myFont);
  margin-top: 1vw;
  font-weight: bolder;
  font-size: 4rem;
  width: 40vw;
}
.imgcontent {
  margin-top: 10vw;
  margin-left: 5vw;
  width: 100%;
}
.price {
  font-family: var(--myFont);

  font-size: 2em;
}
.review {
  margin-left: -1vw;
}
.review i {
  color: var(--color1);
  padding-right: 1vw;
}
hr {
  width: 30vw;
  color: black;
}
.Pdate {
  font-weight: lighter;
  margin-bottom: 1vw;
}

.btnWarningg {
  background-color: var(--color1) !important;
  font-size: 18px !important;
  height: 2vw;
  width: 12vw;
  border-radius: 10px;
  border: 2px solid var(--color1) !important;
  margin-left: 1vw;
  cursor: pointer;
  color: var(--color6) !important;
}
.btnWarningg:hover,
.btnWarningg:active {
  color: var(--color1) !important;
  font-size: 18px !important;
  height: 2vw;
  width: 12vw;
  background-color: transparent !important;
  border: 2px solid var(--color1) !important;
  box-shadow: none !important;
  border-radius: 12px !important;
  -webkit-border-radius: 12px !important;
  -moz-border-radius: 12px !important;
  -ms-border-radius: 12px !important;
  -o-border-radius: 12px !important;
}
.icon {
  background-color: var(--color3);
  color: var(--color5);
  cursor: pointer;
  transition: all 0.3s;
  width: 20px;
  height: 20px;
}
.icon:hover {
  color: var(--color6);
}
.drop {
  background-color: var(--color5);
  border-radius: 0.5vw;
  height: 2vw;
}
